.searchBar {
  width: 100%;
}

.searchBar form {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 10px;
  margin: auto;
  width: 40%;
  border-radius: 3px;
}

.searchBar input {
  padding: 10px;
  margin: auto;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.searchIcon {
  color: black;
  font-size: 1.2rem;
  background-color: transparent;
}

@media (max-width: 1100px) {
  .searchBar form {
    width: 60%;
  }
}

@media (max-width: 820px) {
  .searchBar form {
    position: absolute;
    margin-top: 2rem;
    left: 20%;
  }
}

@media (max-width: 620px) {
  .searchBar form {
    width: 90%;
    left: 5%;
    margin-top: 2rem;
  }
}
